/*https://tympanus.net/Tutorials/CustomFileInputs/*/

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
.hidden{
    visibility: hidden;
}
#logsBlock {
    background: rgba(220, 220, 220, 0.7);
    box-shadow: inset 0 0 6px grey;
    float: right;
    padding: 5px;
    width: 29%;
}
#resultContainer {
    float: left;
    width: 70%;
}
#logsBlock h4 {
    margin: 5px 0 5px 0 !important;
}

#logs {
    font-family: monospace;
    font-size: 10px;
    margin: 2px;
    overflow: auto;
}

#logs p {
    padding: 0 !important;
    margin: 0 !important;
}

.mono {
    font-family: Courier New, Courier, monospace;
    font-size: 13px;
}

.status {
    border: 1px solid gray;
    color: white;
    padding: 1px;
}

.check {
    background: green;
}

.cross {
    background: red;
}

#result {
    font-family: monospace;
}

.zip:before {
    content: "Package: ";
    font-weight: bold;
}

.xml:before {
    content: "XML: ";
    font-weight: bold;
    margin-left: 28px;
}

.asset:before {
    content: "Asset: ";
    font-weight: bold;
    margin-left: 64px;
}

.assetalt:before {
    content: "Alternate Asset: ";
    font-weight: bold;
    margin-left: 64px;
}

.assetAltNotPresent:before {
    content: "Alternate Asset: ";
    color: red;
    font-weight: bold;
    margin-left: 64px;
}

.optional:before {
    content: "Optional: ";
    font-weight: bold;
    margin-left: 64px;
}

.doiCorrect:before {
    content: "DOI: ";
    font-weight: bold;
    margin-left: 64px;
}

.doiInCorrect:before {
    content: "DOI Incorrect: ";
    color: red;
    font-weight: bold;
    margin-left: 64px;
}

.assetNotReferred:before {
    content: "Asset Not Referred: ";
    color: red;
    font-weight: bold;
    margin-left: 28px;
}
table{
    font-family: monospace;
}
.flags{
    text-align: center;
}