@font-face {
    font-family: minionProSemiBold-head;
    src: url("/fonts/MinionPro/MinionProSemibold.otf");
}

@font-face {
    font-family: minionProRegular-body;
    src: url("/fonts/MinionPro/MinionProRegular.otf");
}

table td,
table th {
    padding: 2px 0px 2px 0px;
    font-size : 10px;
    line-height : 12.3px;
    text-align: left;
    vertical-align: bottom;
}

table thead td,
table thead th {
    font-family: minionProSemiBold-head !important;;
}

table tbody td,
table tbody th {
    font-family: minionProRegular-body !important;;
}

#Wwidth{
    width:340.157px !important;
    min-width:340.157px !important;
    max-width:340.157 !important;
}